@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #dcdcdc; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b0c3cb; 
  } */

  /* @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } */
  
  .relative:hover .absolute {
    display: block;
  }
  #mobile-menu-2 {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  